/* Button */
.button {
	border-radius: 8px;
	background-color: #9333ea;
	transition: all 0.3s;
	padding-inline: 40px;
	padding-block: 16px;
	text-align: center;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.5px;
}

.button:hover {
	background-color: #6b24ae;
}

.button--mini {
	font-size: 16px;
	padding-inline: 28px;
	padding-block: 12px;
	line-height: 1.5;
}

.button--transparent {
	background-color: transparent;
}

.button--white-border {
	background-color: transparent;
	border: 2px solid #fff;
	padding-block: 14px;
}

.button--white-border:hover {
	border: 2px solid #6b24ae;
}
